html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Nunito Regular';
  color: #444;
  /* background: #022c43; */
  /* background-color: #0b0b0b; */
  background-color: rgb(14, 14, 14);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
